{% extends "bootstrap/base.html" %}
{% block content %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="css/main.css">

    <div class="container" id="myTable">
    <div id="connection"></div>
        <h3>hi guest </h3>
        <div class="row">
            <label for="input-text"></label>
            <textarea class="col" name="input-text" id="input-text"></textarea>
            <div class="col" name="output-text" id="output-text">test</div>
        </div>
        <div class="row">
            <button id="my-send" onclick="send()">Send</button>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="js/main.js?a=ihkjdshf"></script>
{% endblock %}